# ignore emacs backup files
\#*#
*~
*.iws
api/target
adapter/target
db
grails/.classpath
grails/.project
grails/cuanto-test.launch
grails/cuanto.tmproj
grails/lib/cuanto-api-*
grails/lib/mysql-connector-java*
grails/stacktrace.log
grails/web-app/WEB-INF/
grails/web-app/css/main.css
grails/cobertura.ser
out
grails/web-app/images/grails_logo.jpg
grails/web-app/images/skin/house.png
grails/web-app/images/skin/sorted_asc.gif
grails/web-app/images/skin/sorted_desc.gif
grails/web-app/js/application.js
grails/test/reports
#grails/web-app/plugins/
grails/lib/cuanto-api*
grails/web-app/images/grails_logo.png
grails/web-app/images/leftnav_btm.png
grails/web-app/images/leftnav_midstretch.png
grails/web-app/images/leftnav_top.png
grails/web-app/images/springsource.png
grails/web-app/plugins/
db/cuanto_20100121_1548.dmp
db/de-testrun-2.sql
db/master.sql
db/time_scripts.sh
doc/2009 Cuanto DB schema diagram.pdf
doc/2009 Cuanto DB schema.pdf
sql_dump
