.accordionMenu {
	float: left;
	margin-left: 20px;
	width: 100px;
}

/*.activeToggler:hover {*/
	/*cursor: pointer;*/
/*}*/

.accordion {
	margin-top: -8px;
	float: left;
}

.accordion table {
	width: 400px;
}

.accordion table {
	border-spacing: 0;
}

.accordion td {
	padding: 0;
}

.accordion .projRow:hover {
	background-color: mintcream;
}

.accordion .tdTitle {
	font-style: italic;
}

.activeToggler {
	/*font-weight: bold;*/
	background-color: #dff7eb;
}