.anHead {
	font-size: 11px;
	font-family: verdana, arial, helvetica, sans-serif;
}

#anPanel .bd {
	background-color: white;
	overflow:auto;
	padding: 10px;
}

#anPanel .ft {
    height:15px;
    padding:0;
}

#outPanel .bd {
	background-color: white;
	overflow:auto;
	padding: 10px;
}

#outPanel .ft {
    height:15px;
    padding:0; 
}

.inTable {
	font-size: 11px;
	font-family: verdana, arial, helvetica, sans-serif;
}

#outputParentDiv {
	font-size: 11px;
}

.testOutput {
	font-size: 11px;
	font-family: monospace;
	margin-top: 12px;
}

.outputLink {
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.selectCmd {
	font-size: 11px;
	font-family: verdana, arial, helvetica, sans-serif;
}

.hidden {
	display: none;
}

.fieldSelect {
	width: 25px;
	text-align: center;
}

.fieldName {
	width: 65px;
}

#fieldHdr {
	text-align:left;
}

#editNoteField {
	background-color:lightgoldenrodyellow;
	margin-left: 5px;
}


#anTable {
	/*width:50%;*/
}


#tableDiv {
	display:block;
	float:left;
	margin-left: 10px;
	margin-right: 40px;
	width: 40%;
}

.nofloat {
	clear:both;
}

.colHdr {
	font-weight:bold;
}

.anlzElem {
	/*margin-left: 10px;*/
	/*margin-right: 20px;*/
}

#prevAnlz {
	margin-left: 30px;
}

#note {
	width:250px;
}