.anHead {
	font-size: 11px;
	font-family: verdana, arial, helvetica, sans-serif;
}

#anPanel .bd {
	background-color: white;
	overflow:auto;
	padding: 10px;
}

#anPanel .ft {
    height:15px;
    padding:0;
}

#outPanel .bd {
	background-color: white;
	overflow:auto;
	padding: 10px;
}

#outPanel .ft {
    height:15px;
    padding:0; 
}

.inTable {
	font-size: 11px;
	font-family: verdana, arial, helvetica, sans-serif;
}

#outputParentDiv {
	font-size: 11px;
}

.testOutput {
	font-size: 11px;
	font-family: monospace;
	margin-top: 12px;
}

.outputLink {
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.selectCmd {
	font-size: 11px;
	font-family: verdana, arial, helvetica, sans-serif;
	margin-right: 8px;
}

.hidden {
	display: none;
}

.fieldSelect {
	width: 25px;
	text-align: center;
}

.fieldName {
	width: 65px;
}

#fieldHdr {
	text-align:left;
}

#editNoteField {
	background-color:lightgoldenrodyellow;
	margin-left: 5px;
}


#anTable {
	/*width:50%;*/
}


#tableDiv {
	display:block;
	float:left;
	margin-left: 10px;
	margin-right: 40px;
	width: 40%;
}

.nofloat {
	clear:both;
}

.colHdr {
	font-weight:bold;
}

.anlzElem {
	/*margin-left: 10px;*/
	/*margin-right: 20px;*/
}

#prevAnlz {
	margin-left: 30px;
}

#note {
	width:250px;
}

#columnPanel {


	visibility: hidden;
	border: 1px solid #808080;
	background-color: #E3E3E3;
	margin: 0 auto;
}

/*#columnPanel .hd {font-weight:bold;padding:1em;background:none;background-color:#E3E3E3;border-bottom:0;}*/
/*#columnPanel .ft {text-align:right;padding:.5em;background-color:#E3E3E3;}*/
#columnPanel .bd {
	/*height: 10em;*/
	/*margin: 0 1em;*/
	overflow: auto;
	/*border: 1px solid black;*/
	background-color: white;
}

#columnPanel .columnPanel-pickercol {
	clear: both;
	padding: .5em 1em 3em;
	border-bottom: 1px solid gray;
}

#columnPanel .columnPanel-pickerkey {
	float: left;
}

#columnPanel .columnPanel-pickerbtns {
	float: right;
}

/* Container workarounds for Mac Gecko scrollbar issues */
.yui-panel-container.hide-scrollbars #dt-dlg .bd {
/* Hide scrollbars by default for Gecko on OS X */
	overflow: hidden;
}

.yui-panel-container.show-scrollbars #dt-dlg .bd {
/* Show scrollbars for Gecko on OS X when the Panel is visible  */
	overflow: auto;
}

.yui-dt-liner {
	white-space: nowrap;
}

.dialogHeading {
	font-weight:bold;
	margin-top:8px;
	margin-bottom:8px;
}

.deleteLink {
	margin-left: 10px;
}
