#login {
	margin: 15px 0px;
	padding: 0px;
	text-align: center;
}

#logohead {
	width:100%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#login .inner {
	width: 260px;
	margin: 0px auto;
	text-align: left;
	padding: 10px;
	background-color: #edf5ff;
}

#login .inner .fheader {
	padding: 4px;
	margin: 3px 0px 3px 0;
	color: #2e3741;
	font-size: 14px;
	font-weight: bold;
}

#login .inner .cssform p {
	clear: left;
	margin: 0;
	padding: 5px 0 8px 0;
	padding-left: 105px;
	border-top: 1px dashed gray;
	margin-bottom: 10px;
	height: 1%;
}

#login .inner .cssform input[type='text'] {
	width: 120px;
}

#login .inner .cssform label {
	font-weight: bold;
	float: left;
	margin-left: -105px;
	width: 100px;
}

#login .inner .login_message {
	color: red;
}

#login .inner .text_ {
	width: 120px;
}

#login .inner .chk {
	height: 12px;
}
